<VirtualHost *:80>
  ServerName foinq.com
  ServerAlias www.foinq.com foinq.com.au www.foinq.com.au

  ServerAdmin webmaster@foinq.com

  Redirect permanent / https://foinq.com/
</VirtualHost>

<VirtualHost _default_:443>
  ServerName foinq.com
  ServerAlias www.foinq.com foinq.com.au www.foinq.com.au

  ServerAdmin webmaster@foinq.com
  
  DocumentRoot {{ server_file_root }}/foinq.com
  <Directory {{ server_file_root }}/foinq.com>
    Require all granted
  </Directory>

  SSLEngine on
  SSLProtocol all -SSLv2
  SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM

  SSLCertificateFile      {{ server_ssl_root }}/foinq.com.crt
  SSLCertificateKeyFile   {{ server_ssl_root }}/foinq.com.key
  SSLCertificateChainFile {{ server_ssl_root }}/sub.class1.server.ca.pem
  SSLCACertificateFile    {{ server_ssl_root }}/startcom.root.ca.pem

  ErrorLog ${APACHE_LOG_DIR}/foinq.com-error.log
  CustomLog ${APACHE_LOG_DIR}/foinq.com-access.log combined
</VirtualHost>