<VirtualHost *:80>
  ServerName bookeye.foinq.com

  Redirect permanent / https://bookeye.foinq.com/
</VirtualHost>


<VirtualHost _default_:443>
  ServerName bookeye.foinq.com

  ServerAdmin webmwaster@foinq.com

  ProxyPass        / http://127.0.0.1:4567/
  ProxyPassReverse / http://127.0.0.1:4567/
  ProxyPassReverseCookieDomain localhost bookeye.foinq.com
  ProxyPreserveHost On

  SSLEngine on
  SSLProtocol all -SSLv2
  SSLCipherSuite ALL:!ADH:!EXPORT:!SSLv2:RC4+RSA:+HIGH:+MEDIUM

  SSLCertificateFile      {{ server_ssl_root }}/bookeye.foinq.com.crt
  SSLCertificateKeyFile   {{ server_ssl_root }}/bookeye.foinq.com.key
  SSLCertificateChainFile {{ server_ssl_root }}/sub.class1.server.ca.pem
  SSLCACertificateFile    {{ server_ssl_root }}/startcom.root.ca.pem

  <Location />
      Deny from all
      AuthUserFile {{ server_ssl_root }}/bookeye.foinq.com.users
      AuthName authorization
      AuthType Basic
      Satisfy Any
      require valid-user
  </Location>

  ErrorLog ${APACHE_LOG_DIR}/bookeye.foinq.com-error.log
  CustomLog ${APACHE_LOG_DIR}/bookeye.foinq.com-access.log combined
</VirtualHost>
