server {
  listen              80;
  server_name         hen3rz.com;
  server_name         www.hen3rz.com;
  root                {{ server_file_root }}/hen3rz.com;
  charset             utf-8;

  access_log          {{ server_log_root }}/hen3rz.com-access.log;
  error_log           {{ server_log_root }}/hen3rz.com-error.log;

  location / {
    try_files         $uri $uri/index.html =404;
  }

  include             {{ server_conf_root }}/expires.conf;
}
